.vscode/
build/
bin/
CMakeLists.txt.user
*.qmlc
*.json
*.autosave
src/*.autosave
src/nodes/*.autosave
src/nodes/filter/*.autosave
qml/*.autosave
qml/theme/*.autosave
qml/components/*.autosave
qml/nodes/*.autosave
qml/nodes/components/*.autosave
.DS_Store